.env
.git
*~
*.o
*.a
*.wasm
*.lo
*.loT
*.la
*.so
*.lai
*.sig
*.orig
*.rej
.libs
.depends
*.log
*.substvars
*-stamp
*.swp
*.swo
*.cache
*.dist
*.dylib
*.rej
*.orig
*.dSYM
*.patch
*.sock
*.profraw
.pc


#Removing any change of DB LEAK!
config/mods-enabled/sql
config/certs/
config/clients.conf
config/radiusd.conf
